<!doctype>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <style>
        body{
            padding: 0;
            margin: 0;
        }
        .content {
            padding: 24px;
        }
    </style>
</head>
<body>
<div class="content">
    <h1>Archive manager</h1>
    <p>
        Welcome to use this compressed file manager. This application is developed based on an open-source
        compressed package management project and is open source using the MIT protocol.
    </p>
    <p>
        Currently, this project supports various common compressed file formats, including Zip, 7z, Rar, and their
        sub volumes (. zxx,. 7z. xxx,. artx. rar), gz, and tar formats.
    </p>
    <p>
        The format not mentioned may be gradually added in the future.
    </p>
    <p>
        Due to Java's excellent compatibility, Java6 and earlier applications can run correctly in higher versions of JavaVM.
        Therefore, this application is developed using the Java language. If you encounter any problems during use,
        you can submit an issue on Github.
    </p>
</div>
</body>
</html>