<!doctype>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <style>
        body{
            padding: 0;
            margin: 0;
        }
        .content {
            padding: 24px;
        }
    </style>
</head>
<body>
    <div class="content">
        <h1>压缩文件管理器</h1>
        <p>
            欢迎使用本压缩文件管理器，本应用程序基于开源的压缩包管理项目开发，并且采用MIT协议开源。
        </p>
        <p>
            就目前而言，本项目支持各类常见的压缩文件格式，包括：Zip，7z，Rar以及它们的分卷（.zxx，.7z.xxx，.partx.rar），
            gz，tar格式。
        </p>
        <p>
            没有提到的格式，有可能在未来逐步加入。
        </p>
        <p>
            由于Java有非常好的兼容性，Java6以及更早期的应用程序都可以在高版本JavaVM中正确的运行，所以，本应用使用Java语言开发，
            如果在使用过程中遇到任何问题，可以在Github提交issue。
        </p>
    </div>
</body>
</html>