.scroll-bar {
  -fx-font-size: 10;
  -fx-background-color: rgba(0, 0, 0, 0);
}
.scroll-bar .track {
  -fx-background-color: rgba(0, 0, 0, 0);
  -fx-background-radius: 99;
}
.scroll-bar .thumb {
  -fx-background-color: #ede4df;
  -fx-effect: dropshadow(three-pass-box, #c0bce3, 10, 0, 0, 0);
}
.scroll-bar .decrement-arrow {
  -fx-background-color: rgba(0, 0, 0, 0);
}
.scroll-bar .increment-arrow {
  -fx-background-color: rgba(0, 0, 0, 0);
}
.notification-bar .pane {
  -fx-background-color: #ede4df !important;
  -fx-padding: 12;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 11, 0, 0, 3);
  -fx-background-insets: 0, 1, 2;
}
.notification-bar .pane .label {
  -fx-font-family: 'Source Han Sans CN Normal';
  -fx-font-size: 16px;
}
.startPane {
  -fx-background-image: url(startBg.png);
  -fx-background-size: cover;
}
.startPane .label {
  -fx-text-fill: #FFF;
}
.compress-view {
  -fx-font-family: 'Source Han Sans CN Normal';
  -fx-font-size: 14;
  -fx-background-color: #ede4df;
}
.compress-view .input-text {
  -fx-background-color: rgba(0, 0, 0, 0);
  -fx-border-style: solid;
  -fx-border-color: #4a6e60;
  -fx-border-width: 0 0 1 0;
}
.compress-view .icon-button {
  -fx-background-color: rgba(0, 0, 0, 0);
  -fx-text-fill: #4a6e60;
}
.compress-view .icon-button:hover {
  -fx-effect: dropshadow(three-pass-box, #cdcdcd, 8, 0, 0, 3);
}
.compress-view .button-bar .button {
  -fx-background-color: #4d7e7b;
  -fx-text-fill: #FFF;
}
.compress-view .button-bar .button:hover {
  -fx-effect: dropshadow(three-pass-box, #cdcdcd, 8, 0, 0, 3);
}
.compress-view .tree-view {
  -fx-background-color: rgba(0, 0, 0, 0);
  -fx-border-color: #4a6e60;
  -fx-border-width: 1;
  -fx-border-style: dashed;
  -fx-border-radius: 8;
}
.compress-view .tree-view .cell:selected {
  -fx-text-background-color: #FFF;
  -fx-background-color: #4a6e60;
}
.compress-view .prop-sheet {
  -fx-text-fill: #4a6e60;
  -fx-background: rgba(255, 255, 255, 0);
}
.compress-view .prop-sheet .text-field {
  -fx-background-color: rgba(0, 0, 0, 0);
  -fx-border-style: solid;
  -fx-border-color: #4a6e60;
  -fx-border-width: 0 0 1 0;
}
.compress-view .prop-sheet .slider .thumb {
  -fx-background-color: #4a6e60;
  -fx-effect: dropshadow(three-pass-box, #4a6e60, 10, 0, 0, 0);
}
.compress-view .prop-sheet .slider .track {
  -fx-background-color: #ede4df;
  -fx-border-radius: 99;
  -fx-border-width: 1px;
  -fx-border-color: #4a6e60;
}
.compress-view .prop-sheet .check-box .box {
  -fx-background-color: #ede4df;
  -fx-border-width: 1px;
  -fx-border-color: #4a6e60;
}
.compress-view .prop-sheet .check-box .box:selected .mark {
  -fx-background-color: #4a6e60;
}
.compress-view .prop-sheet .combo-box {
  -fx-background-color: #FFF;
  -fx-prompt-text-fill: rgba(120, 106, 123, 0.6);
  -fx-text-fill: #4a6e60;
  -fx-border-color: #4a6e60;
  -fx-border-width: 0;
  -fx-effect: dropshadow(three-pass-box, #e5f8f2, 6, 0, 0, 0);
  -fx-font-size: 15;
}
.compress-view .prop-sheet .combo-box * {
  -fx-text-fill: #4a6e60;
}
.compress-view .prop-sheet .combo-box * .label {
  -fx-font-size: 15;
}
.compress-view .prop-sheet .combo-box .combo-box-popup,
.compress-view .prop-sheet .combo-box .list-view {
  -fx-background-color: #ede4df;
}
.compress-view .prop-sheet .combo-box .combo-box-popup .list-cell:filled:selected,
.compress-view .prop-sheet .combo-box .list-view .list-cell:filled:selected {
  -fx-text-fill: #FFF;
  -fx-background-color: #4a6e60;
}
.compress-view .prop-sheet .combo-box .combo-box-popup .list-cell:filled:hover,
.compress-view .prop-sheet .combo-box .list-view .list-cell:filled:hover,
.compress-view .prop-sheet .combo-box .combo-box-popup .list-cell:filled:focus,
.compress-view .prop-sheet .combo-box .list-view .list-cell:filled:focus {
  -fx-background-color: #4d7e7b;
  -fx-text-fill: #FFF;
}
.pref-view {
  -fx-font-family: 'Source Han Sans CN Normal';
  -fx-font-size: 14;
  -fx-background-color: #ede4df;
}
.pref-view .button {
  -fx-background-color: #4d7e7b;
  -fx-text-fill: #FFF;
}
.pref-view .button:hover {
  -fx-effect: dropshadow(three-pass-box, #cdcdcd, 8, 0, 0, 3);
}
.pref-view .prop-sheet {
  -fx-text-fill: #4a6e60;
  -fx-background: rgba(255, 255, 255, 0);
}
.pref-view .prop-sheet .text-field {
  -fx-background-color: rgba(0, 0, 0, 0);
  -fx-border-style: solid;
  -fx-border-color: #4a6e60;
  -fx-border-width: 0 0 1 0;
}
.pref-view .prop-sheet .slider .thumb {
  -fx-background-color: #4a6e60;
  -fx-effect: dropshadow(three-pass-box, #4a6e60, 10, 0, 0, 0);
}
.pref-view .prop-sheet .slider .track {
  -fx-background-color: #ede4df;
  -fx-border-radius: 99;
  -fx-border-width: 1px;
  -fx-border-color: #4a6e60;
}
.pref-view .prop-sheet .check-box .box {
  -fx-background-color: #ede4df;
  -fx-border-width: 1px;
  -fx-border-color: #4a6e60;
}
.pref-view .prop-sheet .check-box .box:selected .mark {
  -fx-background-color: #4a6e60;
}
.pref-view .prop-sheet .combo-box {
  -fx-background-color: #FFF;
  -fx-prompt-text-fill: rgba(120, 106, 123, 0.6);
  -fx-text-fill: #4a6e60;
  -fx-border-color: #4a6e60;
  -fx-border-width: 0;
  -fx-effect: dropshadow(three-pass-box, #e5f8f2, 6, 0, 0, 0);
  -fx-font-size: 15;
}
.pref-view .prop-sheet .combo-box * {
  -fx-text-fill: #4a6e60;
}
.pref-view .prop-sheet .combo-box * .label {
  -fx-font-size: 15;
}
.pref-view .prop-sheet .combo-box .combo-box-popup,
.pref-view .prop-sheet .combo-box .list-view {
  -fx-background-color: #ede4df;
}
.pref-view .prop-sheet .combo-box .combo-box-popup .list-cell:filled:selected,
.pref-view .prop-sheet .combo-box .list-view .list-cell:filled:selected {
  -fx-text-fill: #FFF;
  -fx-background-color: #4a6e60;
}
.pref-view .prop-sheet .combo-box .combo-box-popup .list-cell:filled:hover,
.pref-view .prop-sheet .combo-box .list-view .list-cell:filled:hover,
.pref-view .prop-sheet .combo-box .combo-box-popup .list-cell:filled:focus,
.pref-view .prop-sheet .combo-box .list-view .list-cell:filled:focus {
  -fx-background-color: #4d7e7b;
  -fx-text-fill: #FFF;
}
.main-view {
  -fx-font-family: 'Source Han Sans CN Normal';
  -fx-font-size: 14;
  -fx-background-color: #ede4df;
}
.main-view .menu-bar {
  -fx-background-color: rgba(0, 0, 0, 0);
  -fx-border-width: 0 0 2 0;
  -fx-border-style: dotted;
  -fx-border-color: #4d7e7b;
}
.main-view .menu-bar .menu-button:showing,
.main-view .menu-bar .menu-button:focused,
.main-view .menu-bar .menu-button:hover {
  -fx-background-color: #4d7e7b;
}
.main-view .menu-bar .menu-item:focused {
  -fx-background-color: #4d7e7b;
}
.main-view .controlPane {
  -fx-background-image: url(compBar.png);
  -fx-background-size: cover;
  -fx-background-repeat: no-repeat;
}
.main-view .center-pane {
  -fx-background-color: #4a6e60;
}
.main-view .center-pane.table-view {
  -fx-table-cell-border-color: rgba(0, 0, 0, 0);
}
.main-view .center-pane.table-view .column-header {
  -fx-border-color: #343a40;
  -fx-border-width: 0 0 1 0;
  -fx-border-style: solid;
  -fx-background-color: #4a6e60;
}
.main-view .center-pane.table-view .column-header .label {
  -fx-text-fill: #FFF;
}
.main-view .center-pane.table-view .table-row-cell {
  -fx-background-color: #4a6e60;
  -fx-table-cell-border-color: rgba(0, 0, 0, 0);
}
.main-view .center-pane.table-view .table-row-cell:selected {
  -fx-background-color: #0c1417;
}
.main-view .center-pane.table-view .table-row-cell .label,
.main-view .center-pane.table-view .table-row-cell:focused .label {
  -fx-text-fill: #FFF;
}
.main-view .center-pane .folder-tree {
  -fx-background-color: #4a6e60;
  -fx-border-color: #343a40;
  -fx-border-width: 0 2 0 0;
  -fx-border-style: solid;
}
.main-view .center-pane .folder-tree .tree-cell {
  -fx-text-fill: #EEE;
  -fx-effect: dropshadow(three-pass-box, #ffffff, 1, 0, 0, 0);
  -fx-background-color: rgba(0, 0, 0, 0);
}
.main-view .center-pane .folder-tree .tree-cell .arrow {
  -fx-background-color: #EEE;
}
.main-view .center-pane .folder-tree .tree-cell:selected {
  -fx-background-color: #0c1417;
}
.main-view .archive-tool-buttons .button {
  -fx-background-color: rgba(0, 0, 0, 0);
  -fx-text-fill: #4d7e7b;
}
.main-view .archive-tool-buttons .button:hover {
  -fx-effect: dropshadow(three-pass-box, #cdcdcd, 8, 0, 0, 3);
}
.main-view .archive-tool-buttons .menu-button {
  -fx-background-color: rgba(0, 0, 0, 0);
}
.main-view .archive-tool-buttons .menu-button .label {
  -fx-text-fill: #4d7e7b;
}
.main-view .archive-tool-buttons .menu-button .arrow-button {
  -fx-font-size: 12;
}
.main-view .archive-tool-buttons .menu-button .arrow-button .arrow {
  -fx-background-color: #4d7e7b;
}
.main-view .archive-tool-buttons .menu-button .menu-item .label {
  -fx-text-fill: #0c1417;
}
.main-view .archive-tool-buttons .menu-button .menu-item:focused {
  -fx-background-color: #4d7e7b;
}
.main-view .archive-tool-buttons .menu-button .menu-item:focused .label {
  -fx-text-fill: #FFF;
}
.main-view .start-group .button,
.main-view .start-group .menu-button {
  -fx-background-color: rgba(12, 20, 23, 0.4);
  -fx-border-width: 2;
  -fx-border-style: dashed;
  -fx-border-color: #e5f8f2;
  -fx-border-radius: 4;
  -fx-text-fill: #FFF;
}
.main-view .start-group .button:hover,
.main-view .start-group .menu-button:hover {
  -fx-effect: dropshadow(three-pass-box, #cdcdcd, 4, 0, 0, 3);
}
.main-view .start-group .menu-button .label {
  -fx-text-fill: #e5f8f2;
}
.main-view .start-group .menu-button .arrow-button {
  -fx-font-size: 12;
}
.main-view .start-group .menu-button .arrow-button .arrow {
  -fx-background-color: #FFF;
}
.main-view .start-group .menu-button .menu-item .label {
  -fx-text-fill: #0c1417;
}
.main-view .start-group .menu-button .menu-item:focused {
  -fx-background-color: #4d7e7b;
}
.main-view .start-group .menu-button .menu-item:focused .label {
  -fx-text-fill: #FFF;
}
.main-view .start-pane .button {
  -fx-background-color: #e5f8f2;
  -fx-text-fill: #0c1417;
}
.main-view .start-pane .button:hover {
  -fx-effect: dropshadow(three-pass-box, #cdcdcd, 8, 0, 0, 3);
}
.progress-view {
  -fx-font-family: 'Source Han Sans CN Normal';
  -fx-font-size: 13;
  -fx-background-color: #ede4df;
}
.progress-view .progress-bar .track {
  -fx-background-color: #ede4df;
  -fx-background-radius: 999;
  -fx-effect: innershadow(three-pass-box, #e5f8f2, 6, 0, 0, 2);
}
.progress-view .progress-bar .bar {
  -fx-background-radius: 999;
  -fx-background-color: #4a6e60;
}
.helpview {
  -fx-background-color: #4a6e60;
}
.helpview .tree-view {
  -fx-background-color: #4a6e60;
}
.helpview .tree-view .tree-cell {
  -fx-text-fill: #EEE;
  -fx-background-color: rgba(0, 0, 0, 0);
}
.helpview .tree-view .tree-cell .arrow {
  -fx-background-color: #EEE;
}
.helpview .tree-view .tree-cell:selected {
  -fx-background-color: #0c1417;
}
.password-view {
  -fx-background-color: #ede4df;
}
.password-view .password-field {
  -fx-background-color: rgba(0, 0, 0, 0);
  -fx-border-style: solid;
  -fx-border-color: linear-gradient(to bottom, #e5f8f2, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), #e5f8f2);
  -fx-border-width: 1px;
}
.password-view .button {
  -fx-background-color: #e5f8f2;
  -fx-text-fill: #FFF;
}
.password-view .button:hover {
  -fx-effect: dropshadow(three-pass-box, #cdcdcd, 8, 0, 0, 3);
}
.previews {
  -fx-background-color: #4a6e60;
}
.previews .text-area {
  -fx-text-fill: #FFF;
  -fx-font-size: 16px;
}
.previews .text-area .scroll-pane {
  -fx-background-color: #4a6e60;
}
.previews .text-area .scroll-pane .content {
  -fx-background-color: #4a6e60;
}
.previews .slider .thumb {
  -fx-background-color: #c0bce3;
  -fx-effect: dropshadow(three-pass-box, #e5f8f2, 10, 0, 0, 0);
}
.previews .slider .track {
  -fx-background-color: #ede4df;
  -fx-background-radius: 99;
  -fx-border-radius: 99;
  -fx-border-width: 1px;
  -fx-border-color: #e5f8f2;
}
